* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --primary: #ffefba;
  --secondary: white;
  --dark1: #5555555e;
  --dark2: #050505;
  --dark3: #222222;
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}

/* .contenedor-page {
  height: 100vh;
  position: relative;
} */

.header-cont {
  position: fixed;
  z-index: 10;
  left: 0;
}

.welcome {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  background: linear-gradient(to right, #ffffff, #ffefba);
  /* SCROLL TRIGGER */
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; */
}

.welcome__contenido {
  margin-top: 15vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 10px; */
}

.welcome__h3 {
  margin: 20px 0px;
  text-align: center;
  font-family: var(--tipo-titular);
  font-size: 2em;
  font-weight: 600;
  color: #555555;
}
@media (min-width: 668px) {
  .welcome__h3 {
    font-size: 3em;
  }
}
.rol {
  font-size: 2em;
  text-transform: none;
}

@media (min-width: 668px) {
  .rol {
    text-transform: uppercase;
    font-size: 2.5em;
  }
}

.welcome__subtitulo {
  margin: 20px 0px;
  text-align: center;
  font-family: var(--tipo-titular);
  font-size: 2.6em;
  font-weight: 700;
  color: #555555;
}
@media (min-width: 668px) {
  .welcome__subtitulo {
    font-size: 5em;
  }
}
.boton-descargar-CV {
  width: 170px;
  height: 50px;
  margin-left: 15px;
  background-color: var(--dark3);
  border-radius: 50px;
  border: none;
  color: var(--secondary);
  font-family: var(--tipo-principal);
  font-size: 1rem;
  font-weight: 400;
}
.boton-descargar-CV:hover {
  cursor: pointer;
  background-color: var(--primary);
  border: var(--dark3) 2px solid;
  color: var(--dark3);
  font-weight: 500;
}

.welcome__redes-cont {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__redes {
  margin-right: 30px;
  margin-left: 30px;
}
.welcome__redes-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__redes-texto {
  margin-top: 7px;
  font-family: var(--tipo-principal);
  font-size: 1em;
  font-weight: 400;
  color: #555555;
}

.welcome__logo-github {
  height: 50px;
  width: 50px;
  margin-bottom: -7px;
  margin-top: -3px;
  transition: transform 0.2s ease;
}

.welcome__logo-github:hover {
  transform: scale(1.2);
}

.welcome__logo-linkedin {
  height: 42px;
  width: 42px;
  transition: transform 0.2s ease;
  margin-bottom: -3px;
}

.welcome__logo-linkedin:hover {
  transform: scale(1.2);
}

/*----------------------------------- PRESENTACIÓN -----------------------------------*/
.presentacion {
  width: 100vw;
  height: 100vh;
  background: #ffe796;
  background: -webkit-linear-gradient(to right, #ffffff, #ffe796);
  background: linear-gradient(to right, #ffffff, #ffe796);
}

@media (min-width: 960px) {
  .presentacion {
    display: flex;
  }
}

.presentacion__imagen-cont {
  display: flex;
  align-items: center;
}

.presentacion__imagen {
  width: 400px;
  height: auto;
  margin: 20vh 40px 0 40px;
  border-radius: 100%;
}

@media (max-width: 1110px) {
  .presentacion__imagen {
    display: none;
  }
}

.presentacion-cont {
  padding-top: 10vh;
  max-width: 700px;
  margin: 0px auto;
}
@media (min-width: 960px) {
  .presentacion-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.presentacion__nombre {
  padding: 10px 40px;
  text-align: center;
  font-family: var(--tipo-titular);
  font-weight: 700;
  font-size: 2.6em;
  color: #555555;
  margin: 2rem 0;
}

@media (min-width: 960px) {
  .presentacion__nombre {
    font-size: 4em;
    margin-bottom: 1rem;
  }
}

.presentacion__texto {
  padding: 0 40px;
  font-size: 1.1em;
  color: #555555;
  font-family: var(--tipo-principal);
  font-weight: 400;
  text-align: justify;
}

@media (min-width: 960px) {
  .presentacion__texto {
    color: #555555;
    font-size: 1.3em;
  }
}

/*---------------------------------------- PROYECTOS ---------------------------------------- */
.proyectos {
  padding-top: 15vh;
  width: 100vw;
  min-height: 100vh;
  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  background: linear-gradient(to right, #ffffff, #ffefba);
  /* SCROLL TRIGGER */
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 600; */
}

.portfolio {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 30px;
}
@media (min-width: 960px) {
  .portfolio {
    padding: 20px 90px;
  }
}

.proyectos__title {
  margin: 30px 0;
  text-align: center;
  font-family: var(--tipo-titular);
  font-weight: 700;
  font-size: 4rem;
  color: #555555;
}

@media (max-width: 768px) {
  .proyectos__title {
    margin-left: 40px;
    font-size: 2.6rem;
  }
}

.portfolio-card {
  margin-bottom: 30px;
  max-width: 300px;
  min-height: 55vh;
  text-align: center;
  transition: transform 0.2s ease;
}

@media (max-width: 768px) {
  .portfolio-card {
    border-radius: 10px;
    border: var(--dark2) 1px solid;
  }
}

.portfolio-card:hover {
  transform: scale(1.05);
}

.portfolio-card__imagen {
  object-fit: cover;
  min-height: 55vh;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .portfolio-card__imagen {
    min-height: 15vh;
  }
}

.portfolio-card__contenido {
  width: 100%;
  height: 40vh;
  padding: 10px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: var(--dark3);
}

@media (min-width: 768px) {
  .portfolio-card__contenido {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--secondary);
    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all 0.5s ease;
  }
}

.portfolio-card__contenido:hover {
  opacity: 1;
  transform: translateZ(1) scale(1);
}

.portfolio-card__title {
  font-size: 1.4em;
  font-family: var(--tipo-titular);
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .portfolio-card__title {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.portfolio-card__descripcion {
  font-size: 1rem;
  font-family: var(--tipo-principal);
  text-align: justify;
  margin-bottom: 0px;
  white-space: pre-line;
}

@media (min-width: 768px) {
  .portfolio-card__descripcion {
    font-size: 1rem;
  }
}

.contenedor-botones {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.portfolio-card-link {
  width: 90px;
  height: 40px;
  font-family: var(--tipo-principal);
  font-style: italic;
}

/*---------------------------------------- CONTACTO ----------------------------------------*/

.contacto {
  padding-top: 10vh;
}

@media (min-width: 768px) {
  .contacto {
    padding-top: 15vh;
  }
}
