* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffefba;
  --secondary: white;
  --dark1: #5555555e;
  --dark2: #050505;
  --dark3: #222222;
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}

.footer {
  width: 100vw;
  height: 95px;
  padding: 0 20px;
  background: #fff2c7;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 80px 0 40px;
  }
}

.footer__imagen {
  zoom: 0.45;
  margin: 0px;
  transition: transform 0.2s ease;
}

.footer__imagen:hover {
  transform: scale(1.1);
}

.footer__redes-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
@media (min-width: 768px) {
  .footer__redes-cont {
    width: 200px;
  }
}

.footer__redes-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__redes-texto {
  margin-top: 7px;
  font-family: var(--tipo-principal);
  font-weight: 400;
  font-size: 0.9rem;
  color: #555555;
}
@media (min-width: 768px) {
  .footer__redes-texto {
    font-size: 1rem;
  }
}

.logo-github {
  height: 40px;
  width: 40px;
  margin-bottom: -7px;
  margin-top: -3px;
}
@media (min-width: 768px) {
  .logo-github {
    height: 50px;
    width: 50px;
    transition: transform 0.2s ease;
  }
  .logo-github:hover {
    transform: scale(1.2);
  }
}
.logo-linkedin {
  margin-bottom: -3px;
  height: 31px;
  width: 31px;
}
@media (min-width: 768px) {
  .logo-linkedin {
    height: 42px;
    width: 42px;
    transition: transform 0.2s ease;
  }
  .logo-linkedin:hover {
    transform: scale(1.2);
  }
}
