* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #ffefba;
  --secondary: white;
  --dark1: #5555555e;
  --dark2: #050505;
  --dark3: #222222;
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.imagen-header {
  width: 100%;
  height: 15vh;
  margin: 0;
  object-fit: cover;
}

.contenedor-logo {
  position: absolute;
  left: 45px;
  top: 5px;
  z-index: 20;
}

.logo {
  margin-top: 15px;
  margin-left: -35px;
  width: 65px;
  height: auto;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (min-width: 960px) {
  .logo {
    width: 90px;
    height: auto;
    margin: 0;
  }
}

.imagen-header-perfil {
  width: 15vh;
  height: 15vh;
  position: absolute;
  /* left: 50%; */
  border-radius: 100%;
}

.icono-menu {
  /* display: initial; */
  width: 25px;
  height: auto;
  color: var(--secondary);
  zoom: 2;
}

.icono-menu:hover {
  cursor: pointer;
}

@media (min-width: 960px) {
  .icono-menu {
    display: none;
  }
}

.navbar {
  width: 100%;
  height: 15vh;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  font-family: var(--tipo-principal);
  color: var(--secondary);
}

.navbar a:hover {
  border-bottom: var(--primary) solid;
}
.nav {
  background-color: var(--dark1);
  border-radius: 50px;
}

@media screen and (max-width: 960px) {
  nav {
    display: none;
  }
  .nav {
    background-color: transparent;
  }

  .navbar a:hover {
    border-bottom: none;
  }

  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 15vh;
    left: 0px;
    padding: 10px 0;
  }

  nav.responsive ul {
    display: block !important;
    text-align: center;
  }

  nav.responsive ul li {
    font-size: 16px;
    margin: 10px 0;
  }
  nav.responsive ul li a {
    font-size: 2rem;
    font-family: var(--tipo-titular);
  }
}
